* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Calibri, Arial, sans-serif;
    font-size: 3vh;
    font-weight: normal;
    color: black;
}

h1 {
    font-size: 5vh;
    font-weight: bold;
    color: darkblue;
    text-align: center;
}

h2 {
    font-size: 4vh;
    font-weight: bold;
    color: darkblue;
    padding-left: 1vw;
    padding-top: 2vw;
}

p {
    padding-left: 2vw;
    padding-top: 1vw;
}

a {
    text-decoration: none;
    color: darkblue;
}

figure footer {
    font-size: 1vh;
}

figure figcaption {
    font-size: 2vh;
}

figure img {
    width: 20vw;
}

header {
    flex: 100vw;
    height: 8vh;
}

nav {
    flex: 100vw;
    height: 15vh;
    padding-left: 15vw;
}


nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-right: 2vw;
}

aside {
    flex: 20;

}


main {
    flex: 80;

}

body {
    display: flex;
    flex-wrap: wrap;
}
table {
    width: 90%;
    margin: 2vh auto;
    border-collapse: collapse;
}

th {
    background-color: rgb(2, 2, 158);
    color: white;
    padding: 1vh;
    text-align: left;
}

td {
    padding: 1vh;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover {
    background-color: lightblue;
}

ul {
    list-style-type: none;
    padding: 4vw;
    margin: 0;
}

@media print {

    header,
    main {
        display: block;
    }

    nav,
    aside {
        display: none;
    }
}